* {
    -fx-co2-window: #508c6c;
    -fx-co2-sidebar: #83c39c;
    -fx-co2-menubar: #c0dcc4;
}

.loadingText {
    -fx-fill: palegoldenrod;
    -fx-text-fill: palegoldenrod;
    -fx-font-size: 72px;
    -fx-effect: dropshadow(gaussian, black, 10, 0.8, 2, 2);
}

.cbox {
    -fx-background-color: rgba(0%,0%,0%,0.75);
    -fx-padding: 10;
}

.launcherButton, .buttonReleaseTool, .buttonBranchTool, .buttonFun {
    -fx-min-width: 256;
    -fx-min-height: 256;
    -fx-background-size: 256 256;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

.launcher-button-text {
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.launcher-header {
    -fx-font-size: 32;
    -fx-font-weight: bold;
}

.table-view .column-header#column-path .label {
    -fx-alignment: CENTER_LEFT;
}

#row-status-ok {
    -fx-background-color: lime;
}
#row-status-noZent {
    -fx-background-color: yellow;
}
#row-status-notOk {
    -fx-background-color: tomato;
}

.settings-box {
    -fx-border-width: 2px;
    -fx-border-color: darkgrey;
    -fx-border-radius: 3;
}

.settings-box-content {
    -fx-padding: 4;
}

Label {
    -fx-alignment: center;
}

VBox {
    -fx-spacing: 8;
}

HBox {
    -fx-spacing: 8;
}

#content-pane {
    -fx-padding: 8;
    -fx-hgap: 8;
    -fx-vgap: 8;
}

.buttonReleaseTool {
    -fx-background-image: url("../icons/punkins.png");
}

.buttonBranchTool {
    -fx-background-image: url("../icons/tree.png");
}